@import 'bootstrap';

/* @import 'font-awesome'; */

@import 'font-awesome';

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */

.active {
  display: block;
}

#container {
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tree-component {
  user-select: none;
  width: 100%;
  margin: 0px;
  white-space: nowrap;
  background-color: white;
}

.tree-component:hover {
  background-color: #baefff;
}

.object-line {
  white-space: nowrap;
  width: 100%;
  margin: 0px;
}

.object-content {
  color: rgb(119, 34, 255);
  display: inline;
}

.getter-content {
  color: rgb(119, 34, 255);
  display: inline;
}

.getter-content:hover {
  text-decoration: underline;
}

.render-highlight {
  background-color: yellow !important;
}
  
.highlight-fade {
  transition: background-color 0.5s ease-out;
}

.name-wrapper {
  color:rgb(18, 54, 255);
  white-space: nowrap;
  display: inline;
  width: 100%;
}

.highlight-search {
  background-color: rgb(255, 238, 0);
  white-space: nowrap;
  display: inline;
}

.key-wrapper {
  color:rgb(255, 181, 44);
  white-space: nowrap;
  display: inline;
}

.key-name {
  color:rgb(119, 34, 255);
  white-space: nowrap;
  display: inline;
}

.details-window {
  width: 100%;
  height: 100%;
}

.details-panel {
  padding-left: 0.5rem !important;
  border-top: 2px solid lightgrey;
}

.details-panel-head {
  position: relative;
}

.component-highlighted {
  background-color: #ddf7ff;
}

.component-selected {
  background-color: #33CEFF;
}

.split-screen-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
  font-size: 0.7em;
}

.split-screen-border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  cursor: col-resize;
  background-color: lightgray;
  user-select: none;
}

.horizontal-border {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: lightgray;
  user-select: none;
}

.key-content {
  color: rgb(34, 49, 255);
  display: inline;
}

.panel-top {
  box-sizing: border-box;
  height: 30px;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

#tree-container {
  height: calc(100vh - (27px + 0.5rem));
  overflow: auto;
}

.split-screen-right {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.details-container {
  height: calc(100% - 32px);
  display: flex;
  flex-direction: column;
}

.search-input{
  border: none;
  outline: 0;
  margin-left: 5px;
  width: 100%;
}

.search-input:focus{
  border: none;
  outline: 0;
}

.search-bar-wrapper{
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
}

.search-icon{
  float:left;
  position: relative;
  bottom: 1px;
}

.utility-icon {
  float: right;
  cursor: pointer;
}

.search-indicator {
  position: relative;
  top: 0.6px;
  float: right;
  white-space: nowrap;
}

.search-border {
  width: 2px;
  height: 17px;
  background-color: lightgray;
  user-select: none;
}

.search-selector {
  cursor: pointer;
}

.custom-menu {
  position: absolute;
  background-color: white;
  border: 1px solid gray;
  z-index: 1;
}

.custom-menu ul {
  list-style-type: none;
  padding: 0;
}

.hidden {
  display: none;
}

.custom-menu-item {
  white-space: nowrap;
  padding: 2px 1.5rem;
  cursor: pointer;
}

.custom-menu-item:hover {
  background-color: rgb(201, 201, 201);
}