@import 'bootstrap';

/* @import 'font-awesome'; */

@import 'font-awesome';

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */

.active {
    display: block;
}

#container {
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tree_component {
    font-family: 'Fira Mono', monospace;
    font-size: 0.7em;
    user-select: none;
    width: 100%;
    margin: 0px;
    white-space: nowrap;
}

.name_wrapper {
    color:rgb(18, 54, 255);
    white-space: nowrap;
    display: inline;
}

.key_wrapper {
    color:rgb(255, 181, 44);
    white-space: nowrap;
    display: inline;
}

.key_name {
    color:rgb(119, 34, 255);
    white-space: nowrap;
    display: inline;
}

.details_window {
    font-family: 'Fira Mono', monospace;
    font-size: 0.7em;
    width: 100%;
}

.details-panel {
    width: 100%;
    padding-left: 0.5rem !important;
}

.tree_component:hover {
    background-color: #baefff;
}

.component_highlighted {
    background-color: #ddf7ff;
}

.component_selected {
    background-color: #33CEFF !important;
}

.split-screen-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.split-screen-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    cursor: col-resize;
    background-color: lightgray;
    user-select: none;
  }

  .horizontal-border {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: lightgray;
    user-select: none;
  }
  
.property-line {
    overflow: hidden;
    white-space: nowrap;
}

.property-content {
    color: rgb(119, 34, 255);
    display: inline;
}
  

.split-screen-left {
    overflow: auto;
}

.split-screen-right {
    overflow-y: auto;
    overflow-x: hidden;
}
