/node_modules
/dist

npm-debug.log

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
yarn.lock

#ide's
.vscode
.idea

node_modules

# Extras temp file
/tools/owl.js

release-notes.md