/* GENERIC STUFF  ****************************************/
html,
body {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.btn {
  cursor: pointer;
}

/* APPLICATION ROOT ****************************************/
.playground {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: auto 6px 100%;
}

/* LEFT BAR ****************************************/
.left-bar {
  display: grid;
  grid-template-rows: 50px auto;
  background-color: #2f3129;
}

.menubar {
  padding-left: 8px;
  background-color: #1c2128;
  color: white;
  line-height: 50px;
  font-size: 18px;
}

.tab {
  display: inline-block;
  cursor: pointer;
  padding: 0 8px;
  vertical-align: -9px;
  font-size: 16px;
  line-height: 26px;
  width: 34px;
  text-align: center;
}

.tab.active {
  border-bottom: 2px solid gray;
}

.tab:hover {
  font-weight: bold;
}

.right-thing {
  float: right;
}

.right-thing select {
  margin-right: 15px;
  font-size: 16px;
}
.run-code {
  margin-right: 12px;
  padding: 4px;
}
.run-code:hover {
  border-bottom: 2px solid gray;
}

.code-editor {
  margin-top: 8px;
}

/* SEPARATOR ****************************************/

.separator {
  background-color: #1c2128;
  cursor: col-resize;
}

/* RIGHT PANE ****************************************/
.right-pane {
  background-color: lightgray;
  overflow: hidden;
}

.right-pane iframe {
  background-color: white;
  width: 100%;
  height: 100%;
  border: 0;
}

.right-pane iframe.disabled {
  pointer-events: none;
}

.content {
  height: 100%;
}
.right-pane .welcome {
  text-align: center;
  font-size: 30px;
  color: gray;
  margin-top: 50px;
}

.right-pane .url {
  font-size: 20px;
  margin-top: 20px;
}

.url a {
  color: gray;
}

.right-pane .note {
  font-size: 20px;
  margin-top: 20px;
}

.right-pane .error {
  height: 100%;
  padding-top: 40%;
  font-size: 30px;
  color: darkred;
  text-align: center;
}
