html,
body {
  height: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
}
.main {
  height: 100%;

  font-size: 14px;
  display: grid;
  grid-template-columns: 640px 1fr;
}

.left-thing {
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: column;
}

.left-thing hr {
    width: 100%;
    flex: 0 0 auto;
}

.title {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  flex: 0 0 auto;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0 0 auto;
}

.panel button {
  flex: 0 0 32%;
  height: 32px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px;
  margin-left: 3px;
  margin-right: 3px;
}

.info {
  padding: 10px;
  flex: 0 0 auto;
}

.flags {
    padding: 10px;
}
.log {
    flex: 1 1 auto;
    position: relative;
}

.log-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.bold {
  font-weight: bold;
}

.clear-log {
    font-size: 14px;
    color: #eeeeee;
    cursor: pointer;
}

.right-thing {
  overflow: auto;
}

/* Message widget */
.message .author {
  font-weight: bold;
}

.message {
  width: 400px;
  background-color: lightblue;
  margin: 10px 5px;
  border-radius: 5px;
  padding: 5px;
}

.remove {
  float: right;
}
