html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.title,
.section {
  width: 768px;
  margin: auto;
}

.title div {
  color: #333333;
  font-style: italic;
}

.section {
  background-color: #d5d5d5;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.links a {
  margin: 10px 5px;
}

.benchmarks {
  display: grid;
  grid-template-columns: auto auto;
}
